@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    @include tablet{
        width: calc(100% - 3rem);
        margin-top: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0.625rem;
        padding: 1.5rem 1rem 1.4rem 1.5rem;
    }

    &__logo{
        width: 1.5625rem;
        height: 1.25rem;
        background-image: url('../../../public/logo.svg');
        background-size: contain;

        @include tablet{
            width: 2rem;
            height: 1.6rem;
        }
    }

    &__profile{
        width: 1.5rem;
        height: 1.5rem;
        border: 1px solid $pureWhite;
        border-radius: 50%;

        @include tablet{
            width: 2rem;
            height: 2rem;
        }
    }
}