@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.trending{
    margin-top: 1.5rem;

    @include tablet{
        margin-top: 2rem;
    }
    

    &__title{
        font-size: 1.25rem;
        font-weight: 400;
        letter-spacing: -0.312px;
        color: $pureWhite;
        margin: 0 1rem;
        
        @include tablet{
            margin: 0 1.5rem;
            font-size: 2rem;
            letter-spacing: -0.5px;
        }
    
        @include desktop{
            margin: 0 2.25rem;
        }
        
    }

    &__container{
        margin-top: 1rem;
        display: flex;
        overflow-x: auto;
        column-gap: 1rem;
    }
}