@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.video{
    position: relative;

    &__cover{
        max-width: 15rem;
        max-height: 8.75rem;
        border-radius: 0.5rem;

        @include tablet{
            max-width: 29.375rem;
            max-height: 14.375rem;
        }

        &--recommend{
            max-width: clamp(10.25rem, 6.91rem + 14.249vw, 13.75rem);
            max-height: clamp(6.875rem, 5.086rem + 7.634vw, 8.75rem);
        }
    }

    &__title{
        position: absolute;
        font-size: 0.9375rem;
        font-weight: 400;
        color: $pureWhite;
        bottom: 1rem;
        left: 1rem;

        @include tablet{
            @include heading-s;
            bottom: 1.5rem;
            left: 1.5rem;
        }

        &--recommend{
            position: static;
            font-size: 0.875rem;
            margin-top: 0.25rem;
        }
    }

    &__info{
        display: flex;
        font-size: 0.75rem;
        font-weight: 400;
        position: absolute;
        bottom: 2.4375rem;
        left: 1rem;
        color: $pureWhite;
        opacity: 0.75;
        column-gap: 0.5rem;
        align-items: center;

        @include tablet{
            @include body-m;
            left: 1.5rem;
            bottom: 3.5rem;
        }

        &--recommend{
            position: static;
            font-size: 0.6875rem;
            margin-top: 0.5rem;
        }
    }

    &__category{
        display: flex;
        align-items: center;
        column-gap: 0.375rem;

        &::before{
            max-width: 12px;
            min-width: 12px;
            min-height: 12px;
            max-height: 12px;
            display: inline-flex;
        }

        &--movie{
            &::before{
                content: " ";
                mask-image: url("../../../public/icons/icon-category-movie.svg");
                background-color: white;
            }
        }

        &--tv{
            &::before{
                content: " ";
                mask-image: url("../../../public/icons/icon-nav-tv-series.svg");
                background-color: white;
                mask-size: contain;
            }
        }
    }
}