@use "../styles/mixins" as *;
@use "../styles/variables" as *;

*, *::before, *::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
    height: 100%;
}

body{
    min-height: 100%;
    background-color: $darkBlue;
}

header{
    background-color: $semiDarkBlue;
}

a{
    display: block;
}