@use "../styles/mixins" as *;
@use "../styles/variables" as *;

*, *::before, *::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
    height: 100%;
}

body{
    min-height: 100%;
    background-color: $darkBlue;
    max-width: 100vw;

    @include desktop{
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns:  fit-content(0) auto;
        grid-template-areas: 
        "header main";
    }
}

header{
    background-color: $semiDarkBlue;

    @include desktop{
        grid-area: header;
    }
}

main{
    @include desktop{
        grid-area: main;
        overflow-x: hidden;
    }
}

a{
    display: block;
}

.oval{
    display: inline-block;
    min-width: 3px;
    max-width: 3px;
    min-height: 3px;
    max-height: 3px;
    background-color: $pureWhite;
    opacity: 0.75;
}