@use "../styles/mixins" as *;
@use "../styles/variables" as *;

*, *::before, *::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
    height: 100%;
}

body{
    min-height: 100%;
    background-color: $darkBlue;

    @include desktop{
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: fit-content(0) auto;
        grid-template-areas: 
        "header main";
    }
}

header{
    background-color: $semiDarkBlue;
}

a{
    display: block;
}

main{
    padding-top: 1.5rem;

    @include tablet{
        padding: 2.125rem 0 0 1.5rem;
    }

    @include desktop{
        padding: 4rem 0 0 2.25rem;
    }
}